<div class="card border-secondary h-100">
  <div class="card-body h-100 d-flex" style="flex-flow: column; overflow: unset;">

    <div class="d-flex pb-3">
      <div class="btn-group mr-3 my-auto" role="group" style="float: left;">
        <select class="custom-select" style="width: 150px; height: 30px;">
          <option>The current Composition</option>
          <option>{{ "composition.new" | translate }}</option>
        </select>
        <a href="#" class="btn btn-primary m-0 p-1" (click)="rewind(); false;"><i class="fa fa-step-backward fa-fw"
            aria-hidden="true"></i></a>
        <a *ngIf="timelineService.playState == 'paused'" href="#" class="btn btn-primary m-0 p-1"
          (click)="play(); false;"><i class="fa fa-play fa-fw" aria-hidden="true"></i></a>
        <a *ngIf="timelineService.playState == 'playing'" href="#" class="btn btn-primary m-0 p-1"
          (click)="pause(); false;"><i class="fa fa-pause fa-fw" aria-hidden="true"></i></a>
      </div>

      <div class="my-auto mr-3">
        <span style="width: 78px; text-align: left; display: inline-block; margin-left: 5px;">{{ currentTime }}</span>
        <span style="display: inline-block;"></span>- {{ duration }}
      </div>

      <div class="my-auto mr-3 ml-auto" style="float: left;">
        <i (click)="applyZoom(zoom - 20)" class="fa fa-search-minus mr-3" aria-hidden="true"></i>
        <mv-slider style="width: 80px;" [tooltip]="'hide'" [value]="zoom" [min]="0" [max]="200" [step]="20"
          (change)="applyZoom($event.newValue)"></mv-slider>
        <i (click)="applyZoom(zoom + 20)" class="fa fa-search-plus ml-3" aria-hidden="true"></i>
      </div>

      <div class="my-auto mr-3">
        <input type="text" [value]="selectedPlaybackRegion?.startMillis"> - <input type="text"
          [value]="selectedPlaybackRegion?.endMillis">
      </div>

      <a href="#" class="btn btn-secondary m-0 py-1 mr-3" (click)="openGridSettings(); false;"
        popover="{{ 'timeline.grid' | translate }}" container="body" placement="left"
        triggers="mouseenter:mouseleave"><i class="fa fa-th" aria-hidden="true"></i></a>

      <a href="#" class="btn btn-secondary m-0 py-1 mr-3" (click)="removeRegion(); false;"
        popover="{{ 'timeline.remove-region' | translate }}" container="body" placement="left"
        triggers="mouseenter:mouseleave"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>

      <a href="#" class="btn btn-secondary m-0 py-1 mr-3" (click)="addRegion(); false;"
        popover="{{ 'timeline.add-region' | translate }}" container="body" placement="left"
        triggers="mouseenter:mouseleave"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

      <a href="#" class="btn btn-secondary m-0 py-1" (click)="addRegion(); false;"
        popover="{{ 'timeline.remove-composition' | translate }}" container="body" placement="left"
        triggers="mouseenter:mouseleave"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </div>

    <div>
      <div id="waveform-timeline"> </div>
    </div>
    <div #waveWrapper style="flex: 2; position: relative;">
      <div id="waveform"></div>
    </div>

  </div>
</div>