<div class="card border-secondary h-100">
  <div class="card-header">
    <div class="my-auto" style="float: left;">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="active" [ngModel]="active" (ngModelChange)="changeActive($event)">
        <label class="form-check-label" for="active">Dimmer</label>
      </div>
    </div>
    <div class="pull-right">
      <input type="text" [(ngModel)]="color"
        style="width: 58px; text-align: center; font-size: 12px; font-family: monospace;">
    </div>
  </div>

  <div class="card-body h-100 d-flex" [class.property-deactivated]="!active">

    <mv-slider class="mx-auto" [(value)]="masterDimmerService.masterDimmerValue" [orientation]="'vertical'" [reversed]="true" style="height: 100%;" [tooltip]="'hide'" [min]="0" [max]="1"
    [step]="0.01"></mv-slider>

  </div>
</div>