<div class="h-100">

  <div id="row1" class="split split-vertical pt-3 pl-3 clearfix">
    <div id="scenes" class="split split-horizontal">
      <div class="card border-secondary">
        <div class="card-body border-secondary">
          <h5 class="card-title">Scenes</h5>
        </div>
      </div>
    </div>

    <div id="preview" class="split split-horizontal pr-3 h-100">
      <div class="card border-secondary h-100">
        <div class="card-body p-0 h-100">
          <app-preview class="h-100" [fixtures]="fixtures"></app-preview>
        </div>
      </div>
    </div>
  </div>

  <div id="row2" class="split split-vertical clearfix px-3">
    <div class="card border-secondary h-100">
      <div class="card-body h-100">

        <div class="row h-100">
          <div class="col">
            <!-- <select class="form-control" id="exampleFormControlSelect1">
              <option>Fixed</option>
              <option>Movement</option>
            </select> -->

            <mv-slider [value]="0" [min]="-3" [max]="3" [step]="0.01" (change)="changeSlider($event)"></mv-slider>
            <mv-slider [value]="0" [min]="-3" [max]="3" [step]="0.01" (change)="changePan($event)"></mv-slider>

            <svg id="panTiltGrid" width="250" height="250" viewBox="-100 -100 1200 1200" style="border: 1px solid black;"></svg>
            <!-- <br />two sliders with text field -->
          </div>
          <div class="col col-auto" style="border-left: solid 1px black;">
            <ul class="list-group">
              <li *ngFor="let item of fixtures" class="list-group-item">{{ item.name }}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="row3" class="split split-vertical clearfix px-3 pb-3">
    <div class="card border-secondary h-100">
      <div class="card-body h-100">
        Timeline
      </div>
    </div>
  </div>

</div>