/* Add the theme */
@import "theme.scss";

/* Some overrides */
$enable-rounded: false;
$spacer: 0.8rem;

$theme-colors: (
  warning: $orange,
  danger: $orange
) !default;

/* Add bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

/* General styles */
body,
html {
  height: 100%;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Enable a column taking up the left space */
.flex-grow {
  flex: 1 0;
}

.modal-full {
  max-width: unset !important;
  margin: 1.75rem !important;
}

*:focus {
  outline: none;
}

select {
  font-size: 0.8rem;
  cursor: pointer;
}

input {
  font-size: 0.7rem;
  background-color: transparent;
  color: white;
  border: 1px solid;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(./assets/icons/caret-down-white.png);
  padding: 4px;
  color: white;
  background-color: transparent;
}

input,
select {
  border-color: $gray-300;
}

.list-group-item {
  padding: 0.3rem 1.25rem;
  border-left: none;
  border-right: none;
}

.card-header {
  margin-bottom: 0;
}

.card-header {
  padding: 0.4rem;
}

.card-body {
  overflow: auto;
  padding: $spacer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $gray-700;
}

.nav a,
.panel-title .btn-link {
  color: white !important;
}

.accordion-toggle .btn,
.accordion-toggle button {
  padding: 0;
}

.panel-body {
  background-color: $gray-800;
}

.list-group-item.active-light {
  background-color: #906542;
  border-color: #906542;
}

.inactive-list-item {
  opacity: 0.3;
}

span.bigcheck-target {
  font-family: FontAwesome; /* use an icon font for the checkbox */
}

input[type="checkbox"].bigcheck {
  position: relative;
  left: -999em; /* hide the real checkbox */
}

input[type="checkbox"].bigcheck + span.bigcheck-target:after {
  content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
}

input[type="checkbox"].bigcheck:checked + span.bigcheck-target:after {
  content: "\f046"; /* fontawesome checked box (fa-check-square-o) */
}

/* Make the modal appear in front of the threejs debug information boxes */
.modal {
  z-index: 10001;
}

/* Style the splitters */
.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split-horizontal,
.gutter.gutter-horizontal {
  float: left;
}

.split-vertical,
.gutter.gutter-horizontal {
  height: 100%;
}

.split {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* The main panels */
.panel {
  background-color: transparent;
}

/* Sliders */
.slider-horizontal .slider-track {
  height: 2px !important;
  margin-top: -2px !important;
}

.slider-vertical .slider-track {
  width: 2px !important;
  margin-left: 4px !important;
}

.slider-track,
.slider-track-low,
.slider-track-high,
.slider-selection {
  background-color: white !important;
  border-radius: 0 !important;
  background-image: none !important;
  box-shadow: none !important;
}

.slider-handle {
  width: 13px !important;
  height: 13px !important;
  background-color: white !important;
  background-image: none !important;
  border: 1px solid $gray-800;
  margin-top: 2.5px;
}

.slider-vertical .slider-handle {
  margin-left: 4px !important;
}

.slider-input {
  width: 35px;
  margin-left: 8px;
  text-align: center;
}

/* Popover */
.popover {
  background-color: white;
}

.popover-body {
  color: black;
}

.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: white;
}

.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: white;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: white;
}

.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: white;
}

/* Color wheel */
.iro__wheel,
.iro__slider {
  cursor: pointer;
}

/* The pan-tilt-grid */
.pan-tilt-grid path {
  fill: none;
  stroke: white;
  stroke-width: 10px;
}

.pan-tilt-grid circle {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 3px;
}

.capability {
  overflow: visible;
}

.capability-deactivated {
  opacity: 0.4;
}

/* Wavesurfer */

/* Display the regions in front of the played part*/
.wavesurfer-region {
  z-index: 5 !important;
}

.wavesurfer-region[data-region-selected="true"] {
  z-index: 6 !important;
}

/* Style the presets */
.wavesurfer-region[data-region-preset="true"] {
  height: 50% !important;
  top: 50% !important;
}

.wavesurfer-region[data-region-name]:after {
  content: attr(data-region-name);
  margin-left: 20px;
}

/* Wavesurfer region handle */
.wavesurfer-handle {
  width: 10px !important;
  max-width: 10px !important;
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.wavesurfer-handle-end {
  margin-left: -10px;
}

.wavesurfer-handle:before,
.wavesurfer-handle:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 4px;
  left: 5%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.wavesurfer-handle:before {
  margin-top: -3px;
}
