/* Add the theme */
@import "theme.scss";

/* Some overrides */
$enable-rounded: false;
$spacer: 0.8rem;

/* Add bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

/* General styles */
body, html {
    height: 100%;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

*:focus {
    outline: none;
}

select {
    font-size: 0.8rem;
    cursor: pointer;
}

input {
    font-size: 0.7rem;
    background-color: transparent;
    color: white;
    border: 1px solid;
}

select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(./assets/icons/caret-down-white.png);
    padding: 4px;
    color: white;
    background-color: transparent;
}

input, select {
    border-color: $gray-300;
}

.list-group-item {
    padding: 0.3rem 0.75rem;
}

.card-header {
    margin-bottom: 0;
}

.card-header {
    padding: 0.4rem;
}

.card-body {
    overflow: auto;
    padding: $spacer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $gray-700;
}

.nav a, .panel-title .btn-link {
    color: white !important;
}

.accordion-toggle .btn, .accordion-toggle button {
    padding: 0;
}

.panel-body {
    background-color: $gray-800;
}

/* Style the splitters */
.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.split-horizontal, .gutter.gutter-horizontal {
    float: left;
}

.split-vertical, .gutter.gutter-horizontal {
    height: 100%;
}

.split {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* The main panels */
.panel {
    background-color: transparent;
}

/* Sliders */
.slider-track {
    height: 2px !important;
}

.slider-track, .slider-track-low, .slider-track-high, .slider-selection {
    background-color: white !important;
    border-radius: 0  !important;
    background-image: none  !important;
    box-shadow: none !important;
}

.slider.slider-horizontal .slider-track {
    margin-top: -2px;
}

.slider-handle {
    width: 13px !important;
    height: 13px !important;
    background-color: white !important;
    background-image: none !important;
    border: 1px solid $gray-800;
    margin-top: 2.5px;
}

.slider-input {
    width: 35px;
    margin-left: 8px;
    text-align: center;
}

/* Popover */
.popover {
    background-color: white;
}

.popover-body {
    color: black;
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: white;
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: white;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: white;
}

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: white;
}

/* Color wheel */
.iro__wheel, .iro__slider {
    cursor: pointer;
}