/* Add the theme */
@import 'theme.scss';

/* Some overrides */
$enable-rounded: false;

/* Add bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap';

body, html {
    height: 100%;
}

/* Style the splitters */
.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    cursor: ns-resize;
}

.split-horizontal, .gutter.gutter-horizontal {
    float: left;
}

.split-vertical, .gutter.gutter-horizontal {
    height: 100%;
}

.split {
    overflow-y: hidden;
    overflow-x: hidden;
}

.card-body {
    overflow: auto;
    padding: 0.25rem;
}

/* Make bootstrap more compact */
.list-group-item {
    padding: 0.3rem 0.75rem
}

/* Style the sliders */
.slider-track {
    height: 5px !important;
}

.slider-track, .slider-track-low, .slider-track-high, .slider-selection {
    background-color: white !important;
    border-radius: 0  !important;
    background-image: none  !important;
    box-shadow: none !important;
}

.slider-handle {
    width: 15px !important;
    height: 15px !important;
    background-color: $link-color !important;
    background-image: none !important;
}