.dmx-channel {
    display: flex;
    float: left;
    width: 28px;
    border: 1px solid white;
    margin-left: -1px;
    margin-bottom: -1px;
}

.dmx-channel-occupied {
    background-color: #fd7e14;
    border-left: none;
    border-right: none;
    cursor: move;
}

.dmx-channel-occupied-start {
    border-left: 1px solid white;
}

.dmx-channel-occupied-end {
    border-right: 1px solid white;
}