# Disable directory listing
Options -Indexes

# Remove .php endings
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]

# Redirect some addresses
RewriteRule ^file/upload$ file-upload.php [L]
RewriteRule ^file/delete$ file-delete.php [L]

# Preserve the Authorization header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]